.nav-enlace{
    display: inline-block;
    background: #ABD9FF;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-enlace:hover{
    background-color: #ABD9FF;
}

.nav-button{
    color: #fff;
    padding: 10px 0;
    background: salmon;
    border: 2px solid white;
    display: none;
}

nav{
    background-color: #C3F8FF;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

@media (max-width: 460px) {
   nav{
    flex-direction: column;
    background: #FFF6BF;
   }
   .nav-enlace{
    margin: 10px;
   }
   .nav-button{
    display: inline-block;
   }
   .desaparece{
    display: none;
   }
}