body{
    font-family: 'Playfair Display', serif;
}

h2{
    font-weight: 400;
}
p {
    font-weight: 300;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}

.text-center{
    text-align: center;
}
.container{
    margin: 0 auto;
    width: 90%;
}

.columna {
    background: #C3F8FF;
    color: #333;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 2px #FFF6BF;
    box-sizing: border-box;
}
.precio {
    color:#ABD9FF;
    font-size: 50px;
}

.btn-comprar{
    background: #f12ba5a5;
    display: block;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-comprar:hover{
    background: #602bf1a5;
}

@media(max-width: 1000px){
    .columna{
        width: 45%;
        margin-bottom: 30px;
    }
    @media(max-width: 600px){
        .columna{
            width: 100%;
            margin-bottom: 30px;
        }
    }
}