*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}
a{
    text-decoration: none;
}

.padre{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}



.margen-interno{
    padding: 0 2rem;
}
    .header{
        background: url(img/bg1.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
    }
        .menu{
            background: rgba(0, 0, 0, 0.1);
            align-items: center;
            border-bottom: 0.01rem solid #bd24c4;
            display: grid;
            grid-template-columns: 10% auto 10%;
        }
            .logo{
                
            }
                .logo a{
                    color: #bd24c4;
                    font-size: 2rem;
                    font-family: 'Times New Roman', Times, serif;
                }
                .logo a:hover{
                    color: #343434;
                }
            .nav{
                text-align: center;
            }
                .nav a{
                    color: #fff;
                    font-size: 1rem;
                    text-transform: uppercase;
                    padding: 0 1rem;
                    letter-spacing: 0.2rem;
                }
                .nav a:hover{
                    color: #343434;
                }
            .social{
                justify-content: end;
            }
                .social a{
                    color: #fff;
                    font-size: 1.5rem;
                    padding: 0% 1rem;
                }
                .social a:hover{
                    color: #343434;
                }

        .texto-principal{
            /* background: #E6D2AA; */
            height: 50rem;
            align-items: center;
        }
            h1{
                font-family: serif;
                font-size: 1.3rem;
                color: #fff;
                text-align: center;
                line-height: 1.6;
            }
/* Fin del header */


    .section{
        background: #040207;
    }
        .articulos{
            background: #020706;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr auto;
        }
            .articulo{
                color: #671472;
                font-size: 1.2rem;
                letter-spacing: 1;
                margin: 1rem 1rem 0 0;
                background: #040207;
                text-align: center;
            }
            .articulo img{
                width: 80%;
                border-radius: 1rem;
                -webkit-border-radius: 1rem;
                -moz-border-radius: 1rem;
                -ms-border-radius: 1rem;
                -o-border-radius: 1rem;
}
            .articulo a{
                color: #A5C9CA;
                font-size: 1rem;
                padding: 1rem;
                background: #330737;
                margin: 1rem 0;
            }
            .articulo a:hover{
                color: #fff;
            }
            h3{
                color: #bd24c4;
                font-size: 1.5rem;
                margin-top: 1rem;
            }
            h2{
                color: #4f077c;
                font-size: 2rem;
                text-transform: uppercase;
            }
            .navegacion{
                background: #330737;
                grid-area: 3/1/4/3;
            }
            .navegacion a{
                color: #730fb1;
                font-size: 1rem;
                padding: 0 1rem;
                text-transform: uppercase;
            }
        h4{
            color: #6709a2;
            font-size: 1.5rem;
            text-transform: uppercase;
            text-align: center;
        }
    .working{
        background: black;
        width: auto;
    }
    .footer{
        background: #fff;
        justify-content: center;
        
    }
        .pie{

        }

@media all and (max-width:45rem){
    .off{
        display: none;
    }
    .nav a{
        font-size: 2rem;
    }
}
@media all and (max-width:25rem){
    h1{
        font-size: 1rem;
    }
    h2{
        font-size: 1.5rem;
    }
}
