*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}
a{
    text-decoration: none;
}

.padre{
    display: flex;
    flex-flow: column nowrap;
}

.margen-interno{
    padding: 0 2rem;
}
    .header{
        background: url(img/bg1.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: contain;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: rgba(0, 0, 0, 0.1);
            display: flex;
            flex-flow: row nowrap;
            height: 3rem;        
            align-items: center;
            border-bottom: 0.2rem solid rgba(255, 255, 255, .5);
        }
            .logo{
                flex: 1 1 auto;
            }
                .logo a{
                    color: #fff;
                    font-size: 2rem;
                }
                .logo a:hover{
                    color: #343434;
                }
            .nav{
                flex: 5 1 auto;
            }
                .nav a{
                    color: #fff;
                    font-size: 1rem;
                    text-transform: uppercase;
                    padding: 0 1rem;
                    letter-spacing: 0.2rem;
                }
                .nav a:hover{
                    color: #343434;
                }
            .social{
                flex: 1 1 auto;
                display: flex;
            }
                .social a{
                    color: #fff;
                    font-size: 1.5rem;
                    padding: 0% 1rem;
                }
                .social a:hover{
                    color: #343434;
                }

        .texto-principal{
            /* background: #E6D2AA; */
            height: 50rem;
            display: flex;
            align-items: center;
        }
            h1{
                font-family: serif;
                font-size: 1.3rem;
                color: #fff;
                font-weight: 1rem;
                text-align: center;
                line-height: 1.6;
            }
/* Fin del header */


    .section{
        background: #040207;
        display: flex;
    }
        .articulos{
            background: #040207;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;    
        }
            .articulo{
                /* background: #395B64; */
                flex: 1 1 40%;
                color: #671472;
                font-size: 1.2rem;
                letter-spacing: 1;
                margin: 1rem 1rem 0 0;
                background: #040207;
            }
            .articulo img{
                width: 100%;
                border-radius: 1rem;
                -webkit-border-radius: 1rem;
                -moz-border-radius: 1rem;
                -ms-border-radius: 1rem;
                -o-border-radius: 1rem;
}
            .articulo a{
                color: #A5C9CA;
                font-size: 1rem;
                padding: 1rem;
                background: #330737;
                margin: 1rem 0;
                display: inline-block;
            }
            .articulo a:hover{
                color: #fff;
            }
            h3{
                color: rgb(186, 127, 127);
                font-size: 1.5rem;

                margin-top: 1rem;
            }
            h2{
                color: #4f077c;
                font-size: 2rem;
                text-transform: uppercase;
                padding: 2 0 1rem 0; 
            }
            .navegacion{
                background: #330737;
                flex: 1 1 100%;
            }
            .navegacion a{
                color: #730fb1;
                font-size: 1rem;
                padding: 0 1rem;
                text-transform: uppercase;
            }
        .aside{
            /* background: #A5C9CA;  */
            flex: 1 1 auto;
            margin: 1rem 0.5rem 10rem 0;
        }
        .aside img{
            width: 100%;
        }
        h4{
            background: #190c2d;
            color: #fff;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
            .publicidad{
                /* background: #E7F6F2; */
            }
    .footer{
        background: #000;
        display: flex;
        justify-content: center;
    }
        .pie{
            background: #E7F6F2;
            width: 30rem;
        }

@media all and (max-width:60rem){
    .off{
        display: none;
    }
    .nav a{
        font-size: 2rem;
    }
}



@media all and (max-width:50rem){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}
@media all and (max-width:35rem){
    .articulo{
        flex-direction: column;
    }
}

@media all and (max-width:25rem){
    .aside{
        flex-direction: column;
    }
}
