@charset "UTF-8";

:root {
    --negro: #393939;
    /* Tipografía */
    --tipo-principal: Helvetica, Arial, sans-serif;
    --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
    :root {
        --negro: #ececec;
    }
}


@media (prefers-reduced-motion: reduce) {
* {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
}
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
}

img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
    display: inline;
}

li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}

::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
}
::selection {
    background-color: var(--negro);
    color: var(--blanco);
}

form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
}

/* Reseteamos las tablas */
table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

body {
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    color: var(--negro);
    line-height: 1.4em;
}

.header{
    width: 100%;
    min-height: 5em;
    padding: 1em 2em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.header .h1{
}
.header .a{}
.header .nav{
}
.header .ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.header .li{
    margin: 0 1em;
}
.header .li .a{}


.main{
    background: lightblue;
    margin: 1em 0;
    text-align: center;

}
.seccion{
    width: 100%;
    min-height: 80vh;
    background: rgb(173, 215, 93);
    margin: 1em 0;
    padding: 2em;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}
.seccion .circulos{}
.seccion .circulo{}
.seccion .h2{}
.seccion .h3{}

.seccion .p{}
.seccion .grid{
    width: 90%;
    max-width: 40em;
    background: lightcoral;
    margin: 1em 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1em;
}
.seccion .article{
    width: 100%;
    min-height: 30vh;
    background: lightskyblue;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
}
.seccion .a{}
.seccion .figure{
    width: 100%;
    background: red;
}
.seccion .img{
    width: 100%;
    background: blue;
}
.seccion .h4{
    width: 100%;
    height: 50%;
    background: coral;
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.about .h2{
    margin: 0 0 1em;
}
.about .p{
    max-width: 40em;
    background: cadetblue;
    margin: 0 0 1em;
    text-align: left;
}

.about .contactoRedes{
    background: rgb(21, 21, 20);
}
.about .li{}
.about .a{}
.about .svg{
    width: 3em;
    height: 3em;
    background: red;
}


